@import url("https://fonts.googleapis.com/css2?family=Electrolize&display=swap");
html {
  font-family: "Electrolize", sans-serif;
  scroll-behavior: smooth;
}
html,
body {
  overflow-x: hidden;
}
body {
  background-color: rgb(54, 0, 0);
  margin: 0;
  display: flex;
  flex-direction: column;
}
#logo {
  margin-left: 10%;
  font-size: 30px;
  color: red;
  text-shadow: 0 0 4px #000;
}
.title {
  margin-left: 20px;
  font-weight: bold;
  font-size: 20px;
}
header {
  color: white;
  display: flex;
  align-items: center;
  background-color: rgb(0, 0, 14);
  margin-bottom: 1.5%;
  box-shadow: 0px 0px 14px black;
}
.sub {
  color: white;
  font-weight: bold;
  font-size: 9px;
  text-align: center;
}
nav {
  width: 100%;
  height: 74px;
  margin-right: 10%;
}
#mobile-menu-icon {
  display: none;
}
@media screen and (max-width: 768px) {
  #mobile-menu-icon {
    display: block;
  }
  nav {
    height: 50px;
  }
  nav li {
    display: none;
  }
  .title {
    font-size: 13px;
  }
  .sub {
    font-size: 8px;
  }
  header {
    height: 45px;
    margin-bottom: 3%;
  }
}
#mobile-menu-icon.fas.fa-bars::before {
  cursor: pointer;
}
.links {
  display: flex;
  list-style-type: none;
}
ul {
  display: flex;
  justify-content: flex-end;
}
li {
  background-color: orangered;
  padding: 5px 11px;
  border-radius: 4px;
  margin: 5px;
  font-size: 12px;
  cursor: pointer;
}
li:hover {
  background-color: rgb(74, 0, 0);
}
a {
  text-decoration: none;
  color: white;
  font-size: 11px;
  cursor: pointer;
}
.topic {
  font-weight: bold;
  font-size: 24px;
  color: white;
  margin-left: 10%;
  text-shadow: 0px 0px 7px white;
  animation: fadeInRight 1.5s;
}
@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(80%);
  }
  to {
    opacity: 1;
  }
}
hr {
  width: 80%;
}
#search {
  font-size: 14px;
  color: white;
  display: flex;
  justify-content: flex-end;
  margin-right: 10%;
}
.first-panel,
.second-panel,
.third-panel,
.fourth-panel,
.fifth-panel {
  margin-left: 10%;
  margin-top: 14px;
  max-width: 74%;
  display: flex;
}
.date-1,
.date-2,
.date-3,
.date-4,
.date-5 {
  color: white;
  font-size: 11px;
  font-weight: bold;
  width: 100px;
  padding-right: 10px;
}
@media screen and (max-width: 1310px) {
  .date-1 p,
  .date-2 p,
  .date-3 p,
  .date-4 p,
  .date-5 p {
    width: 61px;
  }
}
.first-panel-text,
.second-panel-text,
.third-panel-text,
.fourth-panel-text,
.fifth-panel-text {
  background: rgb(77, 77, 77);
  border-radius: 1%;
  border: 2px solid rgb(226, 226, 226);
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 440px) {
  .first-panel-text,
  .second-panel-text,
  .third-panel-text,
  .fourth-panel-text,
  .fifth-panel-text {
    flex-direction: column;
  }
  .paragraph1,
  .paragraph2,
  .paragraph3,
  .paragraph4,
  .paragraph5 {
    margin-left: 13%;
  }
  img {
    padding-left: 50px;
  }
  .title {
    margin-left: 12%;
  }
  #home {
    padding-left: 8%;
  }
}
h1 {
  color: white;
  font-size: 21px;
  margin-top: 11px;
  text-align: center;
}
.paragraph1,
.paragraph2,
.paragraph3,
.paragraph4,
.paragraph5 {
  font-weight: bold;
  font-size: 11px;
  color: white;
  width: 74%;
  text-align: center;
}
img {
  width: 150px;
  border-radius: 4%;
  margin-top: 11px;
  margin-bottom: 11px;
  margin-left: 10px;
  margin-right: 10px;
}
.open-button {
  background-color: rgb(200, 187, 0);
  box-shadow: 0px 0px 21px black;
  color: black;
  font-weight: bold;
  padding: 11px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  position: fixed;
  bottom: 2%;
  right: 2%;
  max-width: 100px;
  font-size: 11px;
}
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 0;
  font-weight: bold;
}
.form-container {
  max-width: 300px;
  padding: 11px;
  background-color: rgb(194, 194, 194);
}
.form-container input[type="text"],
.form-container input[type="chat"] {
  width: 90%;
  padding-left: 11px;
  padding-top: 15px;
  padding-bottom: 100px;
  margin: 5px;
  background: #f1f1f1;
}
.form-container .btn {
  padding: 10px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
}
.btn.cancel {
  color: white;
}
.btn {
  background-color: red;
  font-weight: bold;
  border-radius: 5px;
}
.breakpoint {
  width: 100%;
  height: 1px;
  background-color: white;
  margin-top: 100px;
}
footer {
  background-color: rgb(0, 0, 14);
  bottom: 0;
  height: 200px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
#home {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-right: 21%;
  margin-left: 2%;
  height: 50px;
  font-weight: bold;
  align-items: center;
}
#signup-container {
  margin-top: 10%;
  margin-bottom: 1%;
  animation: fadeIn 3s;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate3d(0, -20%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
.signup-header {
  color: white;
  font-weight: bold;
  font-size: 24px;
  align-items: center;
  text-align: center;
}
* {
  box-sizing: border-box;
}
input[type="text"],
input[type="password"] {
  font-size: 11px;
  padding: 11px;
  border: none;
  display: flex;
  width: 100%;
}
form {
  display: flex;
  justify-content: center;
}
.labels {
  color: white;
  padding: 5px 0px 5px 0px;
}
button {
  font-size: 18px;
  font-weight: bold;
  background-color: rgb(10, 119, 13);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
#formContainer {
  padding: 16px;
  width: 60%;
  background-color: rgb(29, 29, 29);
  border-radius: 4px;
  box-shadow: 0px 0px 8px black;
  margin-bottom: 150px;
}
p {
  color: white;
}
.agreement {
  color: rgb(0, 247, 255);
}
