@import url("https://fonts.googleapis.com/css2?family=Electrolize&display=swap");
html {
  margin: 0;
  padding: 0;
  font-family: "Electrolize", sans-serif;
  scroll-behavior: smooth;
}
body {
  background-color: rgb(54, 0, 0);
  margin: 0;
  display: flex;
  flex-direction: column;
}
#logo {
  margin-left: 10%;
  font-size: 30px;
  color: red;
  text-shadow: 0 0 4px #000;
}
.title {
  margin-left: 20px;
  font-weight: bold;
  font-size: 20px;
}
header {
  color: white;
  display: flex;
  align-items: center;
  background-color: rgb(0, 0, 14);
  margin-bottom: 1.5%;
  box-shadow: 0px 0px 14px black;
}
.sub {
  color: white;
  font-weight: bold;
  font-size: 9px;
  margin-left: 5px;
}
nav {
  width: 100%;
  margin-right: 10%;
}
#nav-list {
  font-weight: bold;
  display: flex;
}
.nav-bar {
  justify-content: flex-end;
  list-style-type: none;
}
.nav-bar li {
  background-color: orangered;
  padding: 5px 11px;
  border-radius: 4px;
  margin: 5px;
}
li {
  font-size: 12px;
  cursor: pointer;
}
li:hover {
  background-color: rgb(74, 0, 0);
}
a {
  text-decoration: none;
  color: white;
  font-size: 11px;
  cursor: pointer;
}
.topic {
  font-weight: bold;
  font-size: 24px;
  color: white;
  margin-left: 10%;
  text-shadow: 0px 0px 7px white;
}
hr {
  width: 80%;
}
#search {
  font-size: 14px;
  color: white;
  display: flex;
  justify-content: flex-end;
  margin-right: 10%;
}

.first-panel,
.second-panel,
.third-panel,
.fourth-panel,
.fifth-panel,
.sixth-panel,
.seventh-panel,
.eighth-panel {
  margin-left: 10%;
  margin-top: 14px;
  max-width: 54%;
}
.date-1,
.date-2,
.date-3,
.date-4,
.date-5,
.date-6,
.date-7,
.date-8 {
  color: white;
  font-size: 11px;
  font-weight: bold;
  position: absolute;
}
.first-panel-text,
.second-panel-text,
.third-panel-text,
.fourth-panel-text,
.fifth-panel-text,
.sixth-panel-text,
.seventh-panel-text,
.eighth-panel-text {
  background: rgb(77, 77, 77);
  border-radius: 1%;
  border: 2px solid rgb(226, 226, 226);
  text-align: center;
  margin-left: 12%;
}
h1 {
  color: white;
  font-size: 21px;
  border-radius: 21%;
  margin-top: 11px;
  margin-bottom: 0;
  display: flex;
  margin-left: 5%;
}
.paragraph1,
.paragraph2,
.paragraph3,
.paragraph4,
.paragraph5,
.paragraph6,
.paragraph7,
.paragraph8 {
  font-weight: bold;
  font-size: 11px;
  color: white;
  width: 74%;
  margin-left: 3%;
}
.hero-1,
.hero-2,
.hero-3,
.hero-4,
.hero-5,
.hero-6,
.hero-7,
.hero-8 {
  width: 150px;
  border-radius: 4%;
  display: flex;
  justify-content: flex-end;
}
.open-button {
  background-color: rgb(200, 187, 0);
  box-shadow: 0px 0px 21px black;
  color: black;
  font-weight: bold;
  padding: 11px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  position: fixed;
  bottom: 2%;
  right: 1%;
  max-width: 200px;
  font-size: 11px;
}
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  font-weight: bold;
}
.form-container {
  max-width: 300px;
  padding: 11px;
  background-color: rgb(194, 194, 194);
}
.form-container input[type="text"],
.form-container input[type="chat"] {
  width: 90%;
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 100px;
  margin: 5px;
  background: #f1f1f1;
}
.form-container .btn {
  color: black;
  padding: 10px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
}
.btn .cancel {
  color: white;
}
.btn {
  background-color: red;
  font-weight: bold;
  border-radius: 5px;
}


.breakpoint {
  width: 100%;
  height: 1px;
  background-color: white;
  margin-top: 100px;
}
footer {
  background-color: rgb(0, 0, 14);
  bottom: 0;
  height: 250px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contactbox li{
  margin-right: 300px;
  list-style: none;
  display: flex; 
  flex-direction: row; 
  justify-content: space-around;
}

#home {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-right: 10%;
  height: 50px;
  font-weight: bold;
  align-items: center;
  margin-left: 5%;
}
#signup-container {
  margin-top: 10%;
  margin-bottom: 1%;
}
.signup-header {
  color: white;
  font-weight: bold;
  font-size: 24px;
  align-items: center;
  text-align: center;
}
* {
  box-sizing: border-box;
}
input[type="text"],
input[type="password"] {
  font-size: 11px;
  padding: 11px;
  border: none;
  display: flex;
  width: 100%;
}
form {
  display: flex;
  justify-content: center;
}
.labels {
  color: white;
  padding: 5px 0px 5px 0px;
}
button {
  font-size: 18px;
  font-weight: bold;
  background-color: rgb(10, 119, 13);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
#formContainer {
  padding: 16px;
  width: 450px;
  background-color: rgb(29, 29, 29);
  border-radius: 4px;
  box-shadow: 0px 0px 8px black;
}
p {
  color: white;
}
.agreement {
  color: rgb(0, 247, 255);
}